# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Java classes
*.class

# Logs
*.log

# IDEs
.idea/
*.iml
.vscode/
*.swp

# Docker
*.jar
docker-compose.override.yml

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración sensibles
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml

